<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario compra</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel='stylesheet' href="form.css">
  </head>
  <body>
    <h1>Identifíquese</h1>
    <form  action="/buying.html" method="post">
      <!-- {% csrf_token %}  avoid CRSF attacks -->
      <label>Nombre de usuario: <label>
      <input type="text" name="nombre" value=''/>
      </br>
      <label>Contraseña: <label>
      <input type="text" name="nombre" value=''/>
      </br>
      <!-- {% csrf_token %}  avoid CRSF attacks
      <label>Producto a comprar: <label>
      <select name="product">
          <option value='1'>1</option>
      </select>
      </br></br>
      -->
      <input type="submit" value="OK"/>
    </form>
  </body>
</html>
