
{% load staticfiles %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>SiVasSinTetera</title>
    <link rel="icon" type="image/png" href="favicon1.png">
    <link rel='stylesheet' href="{% static 'css/shop.css'%}">
  </head>

  <body>

    <div></div>
    <div id='headdiv'>
      <h1>{{ product.name }}</h1>
    </div>

    <div id='products'>
      <div align='left' class='product sale'>
        <div style='padding:10px;margin:20px;background:#070720;'>
          {% if product.name == 'Tetera VIER' %}
            <img style='width:170px;height: 180px;' src="{% static 'prod1.png' %}" id="prodlogo">
          {% elif product.name == 'Tetera IBILI HANOI' %}
            <img style='width:170px;height: 180px;' src="{% static 'prod2.png' %}" id="prodlogo">
          {% elif product.name == 'Tetera FULOON' %}
            <img style='width:170px;height: 180px;' src="{% static 'prod3.png' %}" id="prodlogo">
          {% elif product.name == 'Tetera PLUIESO' %}
            <img style='width:170px;height: 180px;' src="{% static 'prod4.png' %}" id="prodlogo">
          {% endif %}
        </div>
      </div>
      <div align='left' class='product sale'>
        <div style='padding:10px;margin:20px;background:#070720;'>
          <p>
            Especificación:<br>
            {% if product.name == 'Tetera VIER' %}
              &nbsp; -Potencia (W): 600<br>
              &nbsp; -Voltaje (V): 220V<br>
              &nbsp; -Capacidad: 0,6<br>
              &nbsp; -Función: Protección contra sobrecalentamiento<br>
              &nbsp; -Fuente de alimentación: 220V / 50Hz<br>
              &nbsp; -Característica: 360 grados de rotación Base<br>
              &nbsp; -Característica: Protección Hervir-seco<br>
              &nbsp; -Material de la carcasa: Acero inoxidable<br>
              &nbsp; -Material: Acero inoxidable<br>
              &nbsp; -Calefacción Velocidad: 4 minutos<br>
              &nbsp; -Color: Rojo<br>
              &nbsp; -Voltaje: 220-240 V AC<br>
              &nbsp; -Frecuencia: 50 / 60Hz<br>
              &nbsp; -Peso: 800 g<br>
            {% elif product.name == 'Tetera IBILI HANOI' %}
              &nbsp; -Potencia (W): 700<br>
              &nbsp; -Voltaje (V): 120V<br>
              &nbsp; -Capacidad: 0,8<br>
              &nbsp; -Fuente de alimentación: 120V / 40Hz<br>
              &nbsp; -Característica: 180 grados de rotación Base<br>
              &nbsp; -Material de la carcasa: Acero<br>
              &nbsp; -Calefacción Velocidad: 3 minutos<br>
              &nbsp; -Color: Naranja-Blanco<br>
              &nbsp; -Voltaje: 120-240 V AC<br>
              &nbsp; -Frecuencia: 40 / 70Hz<br>
              &nbsp; -Peso: 500 g<br>
            {% elif product.name == 'Tetera FULOON' %}
              &nbsp; -Potencia (W): 300<br>
              &nbsp; -Voltaje (V): 200V<br>
              &nbsp; -Capacidad: 0,5<br>
              &nbsp; -Función: Protección contra sobrecalentamiento<br>
              &nbsp; -Fuente de alimentación: 200V / 70Hz<br>
              &nbsp; -Característica: 360 grados de rotación Base<br>
              &nbsp; -Característica: Protección Hervir-seco<br>
              &nbsp; -Material de la carcasa: Acero inoxidable<br>
              &nbsp; -Material: Acero inoxidable<br>
              &nbsp; -Calefacción Velocidad: 5 minutos<br>
              &nbsp; -Color: Negro<br>
              &nbsp; -Voltaje: 220-240 V AC<br>
              &nbsp; -Frecuencia: 70<br>
              &nbsp; -Peso: 600 g<br>
            {% elif product.name == 'Tetera PLUIESO' %}
              &nbsp; -Potencia (W): 450<br>
              &nbsp; -Voltaje (V): 210V<br>
              &nbsp; -Capacidad: 0,6<br>
              &nbsp; -Fuente de alimentación: 210V / 40Hz<br>
              &nbsp; -Característica: 360 grados de rotación Base<br>
              &nbsp; -Característica: Protección Hervir-seco<br>
              &nbsp; -Material: Acero inoxidable<br>
              &nbsp; -Calefacción Velocidad: 4 minutos<br>
              &nbsp; -Color: Blanco<br>
              &nbsp; -Voltaje: 210-240 V AC<br>
              &nbsp; -Frecuencia: 40Hz<br>
              &nbsp; -Peso: 400 g<br>
            {% endif %}
          </p>
        </div>
      </div>
    </div>

  </body>
  
</html>
