
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SiVasSinTetera</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png'%}">
    <script type="text/javascript" src="{% static 'mi-js.js'%}" defer></script>
    <link rel='stylesheet' href="{% static 'css/shop.css'%}">
  </head>

  <body>

    <div id='headdiv'>
      <h1>SiVasSinTetera</h1>
    </div>

    <div style='margin-left: 30.3%;margin-right:30.3%;' id='products'>
      <ul>
        <li>
          <div class='product sale'>
            <div style='margin:20px;background:#070720;'>
              <p style='color:#31334a;font-size:20px;' align="center">
                {{ products.0.name }}
              </p>
              <a href='prod1/'>
                <img style='width:170px;height:180px;' src="{% static 'prod1.png'%}" id="prodlogo">
              </a>
              <p style='color:#31334a;font-size:20px;' align="center">
                {{ products.0.price }} $
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class='product sale'>
            <div style='margin:20px;background:#070720;'>
              <p style='color:#31334a;font-size:20px;' align="center">
                {{ products.1.name }}
              </p>
              <a href='prod2/'>
                <img style='width:170px;height:180px;' src="{% static 'prod2.png'%}" id="prodlogo">
              </a>
              <p style='color:#31334a;font-size:20px;' align="center">
                {{ products.1.price }} $
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class='product sale'>
            <div style='margin:20px;background:#070720;'>
              <p style='color:#31334a;font-size:20px;' align="center">
                {{ products.2.name }}
              </p>
              <a href='prod3/'>
                <img style='width:170px;height:180px;' src="{% static 'prod3.png'%}" id="prodlogo">
              </a>
              <p style='color:#31334a;font-size:20px;' align="center">
                {{ products.2.price }} $
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class='product sale'>
            <div style='margin:20px;background:#070720;'>
              <p style='color:#31334a;font-size:20px;' align="center">
                {{ products.3.name }}
              </p>
              <a href='prod4'>
                <img style='width:170px;height:180px;' src="{% static 'prod4.png'%}" id="prodlogo">
              </a>
              <p style='color:#31334a;font-size:20px;' align="center">
                {{ products.3.price }} $
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div align='center'>
      <br>
      <form method="get" action="/my_shop/formulario">
        <button style='background-color: #7f85ba;
                       border-radius: 4px;
                       color:#070720;
                       border-radius: 2px;
                       font-size: 20px;
                       padding: 2px 7px;
                       height: 32px;'
                type="submit">Comprar</button>
      </form>
    </div>

    <br>
    <p>&nbsp; Database:</p>
    <p>&nbsp;&nbsp;&nbsp; Products</p>
    <ul>
      {% for prod in products %}
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              -Name: {{ prod.name }} --> Precio: {{prod.price}} | Stock: {{prod.stock}}</li><br>
      {% endfor %}
    </ul>
    <p>&nbsp;&nbsp;&nbsp; Orders</p>
    <ul>
      {% for ord in orders %}
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              -Buyer: {{ ord.buyer }} | Product: {{ord.product}}</li><br>
      {% endfor %}
    </ul>

  </body>
  
</html>
