
{% load staticfiles %}



<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>SiVasSinTetera</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png'%}">
    <script type="text/javascript" src="{% static 'mi-js.js'%}" defer></script>
    <link rel='stylesheet' href="{% static 'css/shop.css'%}">
  </head>

  <body>

    <div></div>
    <div id='headdiv'>
      <h1>SiVasSinTetera</h1>
    </div>
    <div></div>
    <div>
      <div>
        <div> <!-- intro... extra...-->
          <div> <!--h1 --></div>
          <div>
            <div> <!-- centrado con refs --> </div>
          </div>
          <div> <!--filtrar--></div>
        </div>
        <div id='products'>
          <ul>
            <li>
              <div class='product sale'>
                <div style='margin:1px;background:#070720;'>
                  <p align="left">{{ product.name }}</p>
                  <a href='list1/'>
                    <img style='width:150px;' src="{% static 'prod1_1.png'%}" id="prodlogo">
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class='product sale'>
                <div style='margin:20px;background:#070720;'>
                  <p align="left">TET1</p>
                  <a href='list2/'>
                    <img style='width:150px;' src="{% static 'prod2_1.png'%}" id="prodlogo">
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class='product sale'>
                <div style='margin:20px;background:#070720;'>
                  <p align="left">TET1</p>
                  <a href='list3/'>
                    <img style='width:150px;' src="{% static 'prod3_1.png'%}" id="prodlogo">
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class='product sale'>
                <div style='margin:20px;background:#070720;'>
                  <p align="left">TET1</p>
                  <a href='list4'>
                    <img style='width:150px;' src="{% static 'prod4_1.png'%}" id="prodlogo">
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </body>


</html>
