
body {
  background-color:#070720;
  color: white;
  font-family: Helvetica Neue,Roboto,Arial,Sans-Serif!important;

}

input {
  -webkit-appearance: none;
  appearance: none;
}

button, label, input, select, progress, meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 30px;
}

button, select, input {
  padding: 5px;
}
